body {
  font-family: 'Segoe UI', sans-serif;
  background: #f8f9fc;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container h1 {
  color: #111;
  margin-top: 30px;
}

.container h2 {
  color: #d10000;
  font-weight: 400;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.1);
  padding: 20px;
  width: 300px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.card h3 {
  color: #111;
  font-size: 18px;
  margin: 10px 0;
}

.card p {
  color: #333;
}

.btn {
  display: inline-block;
  background-color: #7300e6;
  color: white;
  padding: 10px 20px;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 5px;
}
